.btn {
    border: 1px solid #398fe5;
    border-radius: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 7px 30px;
    transition: all 0.25s;
}

.btn:hover {
    background-color: #398fe5;
    color: #fefefe;
}

.btnActive {
    background-color: #398fe5;
    color: #fefefe;
}

@media (max-width: 991.98px) {
    .btn {
        padding: 6px 24px;
    }
}

@media (max-width: 767.98px) {
    .btn {
        font-size: 14px;
        padding: 4px 16px;
    }
}
