.loaderContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 244px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #398fe5;
    letter-spacing: 0.2em;
}
.loader::before,
.loader::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #398fe5;
    position: absolute;
    animation: loader 0.81s infinite alternate ease-in-out;
}
.loader::before {
    top: 0;
}
.loader::after {
    bottom: 0;
}

@keyframes loader {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}
